* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL STYLING */

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
    min-width: 350px;
    height: 100vh;
    text-align: center;
    overflow: none;
}

header {
    width: 100%;
    height: 5vh;
    line-height: 5vh;
    overflow: none;
    text-overflow: hidden;
}

nav {
    height: 2.5vh;
    line-height: 2.5vh;
}

nav ul {
    overflow-y: none;
}

nav ul li {
    display: inline-block;
}

nav ul li:not(:last-of-type) {
    margin-right: 20px;
}

main {
    width: 100%;
    height: 92.5vh;
    padding: 2.5vh 0 1vh 0;
}

/* GAME GRID CONTAINER STYLING */
#container {
    height: calc(75% - 40px);
    width: fit-content;
    margin: 20px auto;
    padding: 10px 0;
    overflow-y: scroll;
}

/* Custom Scrollbar for container... */

#container::-webkit-scrollbar {
    width: 10px;
}

#container::-webkit-scrollbar-track {
    background: #fff;
}

#container::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 5px;
}

#container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* GAME GRID STYLING */

#game-area {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#game-area .row {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 0 20px;
}

#game-area .row div {
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 5px solid #999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-area .row div:first-of-type {
    width: fit-content;
    border: none;
    background: none;
    color: #999;
}

#game-area .row:hover {
    background: #eee;
}

/* KEYBOARD STYLING */

#keyboard {
    width: 100%;
    max-width: 1000px;
    height: 25%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#keyboard .row {
    width: 100%;
    height: 33%;
    line-height: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#keyboard .row div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    border-radius: 15px;
    border: 5px solid #fff;
    background: #eee;
    color: #555;
}

#keyboard .row div.bigbutton {
    width: 15%;
}

#keyboard .row div:hover {
    background: #ddd;
    cursor: pointer;
}

#keyboard .row div:active {
    background: #999;
    color: #fff;
}

/* OVERLAY */

#overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
}

/* Content for overlay... */

.content {
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    position: relative;
}

.content div#close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    color: #f00;
    position: absolute;
    top: -12.5px;
    right: 12.5px;
    background: #eee;
    cursor: pointer;
}

.content div#close-button::after {
    content: "X";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Hover stuff... */

.content div#close-button:hover {
    background: #ddd;
}

.content div#close-button:hover::after {
    color: #f55;
    font-weight: 700;
}